.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}